body, html {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes up at least the full height of the viewport */
}

.main-content {
  flex-grow: 1; /* Make the main content area fill the remaining space */
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px;
}


